.container {
  display: flex;
  width: 100%;
  padding-top: 120px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__list {
  padding: 0;
  margin: 0;
}

.form__input {
  list-style: none;
}
