.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.details__img {
  max-width: 520px;
  max-height: 240px;
  object-fit: contain;
  object-position: center;
  display: flex;
}

.details__name {
  text-align: center;
}

.details__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.details__item {
  text-align: center;
  min-width: 112px;
}

.details__item:last-child {
  margin: 0;
}
